@charset "UTF-8";
@media (min-width: 768px) {
  .app.sidenav-toggled .app-content {
    margin-left: 0;
  }
  .app.sidenav-toggled .app-sidebar {
    left: 270px;
  }
  .app.sidenav-toggled .app-sidebar__overlay {
    visibility: hidden;
  }
}
@media (max-width: 767px) {
  .app {
    overflow-x: hidden;
  }
  .app .app-sidebar {
    left: -270px;
    margin-top: 86px;
  }
  .app .app-sidebar .app-sidebar3 {
    margin-top: 0;
  }
  .app .app-sidebar__overlay {
    visibility: hidden;
  }
  .app.sidenav-toggled .app-content {
    margin-left: 0;
  }
  .app.sidenav-toggled .app-sidebar {
    left: 0;
  }
  .app.sidenav-toggled .app-sidebar__overlay {
    visibility: visible;
  }
  .app.sidebar-mini.sidenav-toggled .side-menu .side-menu__icon {
    line-height: 1;
  }
}
.app-sidebar .ps__thumb-y {
  right: 0;
}
.app-content {
  margin-top: 60px;
  overflow: hidden;
  transition: margin-left 0.2s ease;
}
.app-content .side-app {
  padding: 25px 1.5rem 0;
}
.footer .container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  width: 100%;
}
@media (min-width: 768px) {
  .app-content {
    margin-left: 270px;
    padding-bottom: 0;
  }
}
@media (max-width: 767px) {
  .app-content {
    margin-top: 50px;
    min-width: 100%;
  }
}
@media (max-width: 480px) {
  .app-sidebar__toggle {
    line-height: 3.2 !important;
    padding: 5px !important;
  }
}
@media print {
  .app-content {
    background-color: #fff;
    margin: 0;
    padding: 0;
  }
}
.light-text {
  font-weight: 300 !important;
}
.semibold-text {
  font-weight: 600 !important;
}
.line-head {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}
.app-header {
  background: #fff;
  border-bottom: 1px solid #ebedfa;
  box-shadow: 0 6px 18px rgba(196, 205, 224, 0.1);
  display: flex;
  left: 0;
  padding: 1.2rem 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: padding-left 0.2s ease;
  width: 100%;
  z-index: 999;
}
@media (min-width: 768px) {
  .app-header {
    padding-right: 13px;
  }
}
@media print {
  .app-header {
    display: none;
  }
}
.app-header__logo {
  color: #fff;
  flex: 1 0 auto;
  font-family: Niconne;
  font-size: 26px;
  font-weight: 400;
  line-height: 50px;
  padding: 0 15px;
  text-align: center;
}
.app-header__logo:focus,
.app-header__logo:hover {
  text-decoration: none;
}
@media (min-width: 768px) {
  .app-header__logo {
    display: block;
    flex: 0 0 auto;
    width: 270px;
  }
}
.app-sidebar__toggle {
  background: #f1f4fb;
  border-radius: 8px;
  height: 45px;
  justify-content: center;
  line-height: 2;
  margin: 0 1.3rem 0 6px;
  padding: 8px;
  position: relative;
  text-align: center;
  width: 45px;
}
.app-sidebar__toggle a {
  color: #555b95;
}
.app-sidebar__toggle:hover {
  color: #36f;
}
.app-sidebar__toggle:focus,
.app-sidebar__toggle:hover {
  text-decoration: none;
}
@media (max-width: 767px) {
  .app-sidebar__toggle {
    order: -1;
  }
}
.app-nav {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .app-nav {
    flex: 1 0 auto;
  }
}
.app-nav__item {
  color: #a8a8a8;
  display: block;
  line-height: 20px;
  padding: 15px;
  transition: background-color 0.3s ease;
}
.app-nav__item:focus,
.app-nav__item:hover {
  background: rgba(0, 0, 0, 0.1);
  color: #f6f6f6;
}
.app-sidebar {
  background: #17263a;
  border-right: 1px solid hsla(0, 0%, 100%, 0.1);
  bottom: 0;
  box-shadow: 0 6px 18px rgba(196, 205, 224, 0.2);
  left: 0;
  position: fixed;
  top: 0;
  transition: left 0.2s ease, width 0.2s ease;
  width: 270px;
  z-index: 1000;
}
.app-sidebar::-webkit-scrollbar {
  width: 6px;
}
.app-sidebar::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
}
.app-sidebar3 {
  height: 100%;
}
@media print {
  .app-sidebar {
    display: none;
  }
}
@media (max-width: 767px) {
  .app-sidebar__overlay {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9;
  }
}
.app-sidebar__user {
  align-items: center;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
  color: #aab3cc;
  display: flex;
  display: inline-block;
  padding: 25px 20px;
  width: 100%;
}
.app-sidebar__user .dropdown-menu {
  top: 10px !important;
}
.app-sidebar .side-item.side-item-category {
  color: #9ba5ca;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
  opacity: 0.4;
  padding: 0 20px 0 18px;
  text-transform: uppercase;
}
.app-sidebar .side-item.side-item-category:not(:first-child) {
  margin-bottom: 10px;
  margin-top: 25px;
}
.sidenav-toggled .app-sidebar__user .user-pic {
  margin: 0;
}
.sidenav-toggled .app-sidebar__user .user-pic:before {
  display: none;
}
.sidenav-toggled .app-sidebar__user .user-pic .avatar-xxl {
  border: 3px solid #2c4669;
}
.sidenav-toggled.sidenav-toggled1 .app-sidebar__user .user-pic:before {
  display: block;
}
.app-sidebar__user .user-pic {
  margin: 0 0 10px;
}
.app-sidebar__user .user-pic:before {
  background: #0dcd94;
  border: 2px solid #fff;
  border-radius: 50%;
  bottom: 8px;
  content: "";
  cursor: pointer;
  display: block;
  height: 0.75rem;
  position: absolute;
  right: 37%;
  width: 0.75rem;
}
.app-sidebar__user .user-pic .avatar-xxl {
  border: 3px solid #2c4669;
}
.app-sidebar__user-avatar {
  flex: 0 0 auto;
  margin-right: 15px;
}
.app-sidebar__user-name.text-muted {
  color: #9ba5ca !important;
  font-size: 17px;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 0;
  margin-top: 5px !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.app-sidebar__user-name.text-muted.text-sm {
  font-size: 15px;
  font-weight: 400;
}
.app-sidebar__user-designation {
  color: #e5e9ec;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 0;
  margin-top: 5px !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.side-menu {
  padding: 10px;
}
.side-menu__item {
  align-items: center;
  border-radius: 7px;
  display: flex;
  font-size: 14px;
  font-weight: 400;
  margin: 5px 0;
  padding: 12px 15px;
  position: relative;
  transition: border-left-color 0.3s ease, background-color 0.3s ease;
}
.side-menu__item.active,
.side-menu__item:focus,
.side-menu__item:hover {
  color: #36f;
  text-decoration: none;
}
.side-menu__item.active .side-menu__icon,
.side-menu__item:focus .side-menu__icon,
.side-menu__item:hover .side-menu__icon {
  color: #36f;
}
@media (min-width: 768px) {
  .app.sidebar-mini.sidenav-toggled .side-menu__label {
    display: none !important;
    position: relative;
  }
}
.slide-menu a.active {
  background: transparent;
  color: #36f !important;
}
.slide-item.active,
.slide-item:focus,
.slide-item:hover {
  background: transparent;
  color: #36f !important;
  text-decoration: none;
}
.slide.is-expanded a {
  color: #eceff9;
  text-decoration: none;
}
.slide.is-expanded a.slide-item {
  transition: all 0.3s;
}
.slide.is-expanded a.slide-item:hover {
  text-decoration: none;
  transition: all 0.3s;
}
.side-menu .side-menu__icon {
  font-size: 25px;
  line-height: 30px;
  margin-left: -8px;
  margin-right: 8px;
  text-align: center;
  vertical-align: middle;
}
.side-menu__icon {
  flex: 0 0 auto;
  width: 25px;
}
.side-menu__label {
  flex: 1 1 auto;
  font-weight: 400;
  white-space: nowrap;
}
.slide.is-expanded .slide-menu {
  display: block;
}
.slide.is-expanded .slide-menu li a:hover {
  color: #36f;
}
.slide.is-expanded .angle {
  transform: rotate(90deg);
}
.slide-menu {
  display: none;
  font-size: 13.2px !important;
  padding-left: 10px;
}
.slide-item {
  align-items: center;
  color: #eceff9;
  display: flex;
  padding: 8px 14px 8px 35px;
}
.slide-item .icon {
  margin-right: 5px;
}
.angle {
  transform-origin: center;
  transition: transform 0.3s ease;
}
.app-sidebar__user .user-info h5 {
  color: #fff;
  font-weight: 500;
  margin-bottom: 3px !important;
}
@media (min-width: 768px) {
  .sidebar-mini.sidenav-toggled .side-menu .sidemenu_icon {
    margin-right: 0;
  }
  .sidebar-mini.sidenav-toggled .Annoucement_card,
  .sidebar-mini.sidenav-toggled .app-user-rating,
  .sidebar-mini.sidenav-toggled .emp_details,
  .sidebar-mini.sidenav-toggled .nav-pills-circle {
    display: none !important;
  }
  .sidebar-mini.sidenav-toggled .green_icon {
    bottom: 5px;
    right: 12px;
  }
  .sidebar-mini.sidenav-toggled .angle,
  .sidebar-mini.sidenav-toggled .app-sidebar__user-designation,
  .sidebar-mini.sidenav-toggled .app-sidebar__user-name,
  .sidebar-mini.sidenav-toggled .user-info,
  .sidebar-mini.sidenav-toggled .user-notification {
    display: none;
  }
  .sidebar-mini.sidenav-toggled .sidebar-mini.sidenav-toggled.user-notification:before {
    background: transparent;
    display: none;
  }
  .sidebar-mini.sidenav-toggled .avatar-xl {
    font-size: 1rem;
    height: 3rem !important;
    line-height: 3rem;
    margin-bottom: 0 !important;
    width: 3rem !important;
  }
  .sidebar-mini.sidenav-toggled .app-sidebar__user {
    margin-top: 0;
    right: 30px !important;
    top: 0.5rem;
  }
  .sidebar-mini.sidenav-toggled .side-menu {
    margin-top: 0;
  }
  .sidebar-mini.sidenav-toggled .app-sidebar__user-avatar {
    height: 25px;
    width: 25px;
  }
  .sidebar-mini.sidenav-toggled .app-sidebar__user {
    margin-bottom: 0;
    padding: 12px 0;
  }
  .sidebar-mini.sidenav-toggled .profile-img {
    right: 19px;
    top: 0;
  }
  .sidebar-mini.sidenav-toggled .app-content {
    margin-left: 70px;
  }
  .sidebar-mini.sidenav-toggled .app-sidebar {
    left: 0;
    overflow: hidden;
    transition: left 0.3s ease, width 0.3s ease;
    width: 70px;
  }
  .sidebar-mini.sidenav-toggled .app-sidebar__user .user-pic .avatar-xxl {
    height: 2.8rem;
    width: 2.8rem;
  }
  .sidebar-mini.sidenav-toggled .side-item-category {
    display: none;
  }
  .sidebar-mini.sidenav-toggled .side-menu__item:hover,
  .sidebar-mini.sidenav-toggled.sidenav-toggled1 .app-sidebar {
    overflow: visible;
  }
  .sidebar-mini.sidenav-toggled .slide:hover .slide-menu {
    max-height: 100%;
    opacity: 1;
    visibility: visible;
    z-index: 10;
  }
  .sidebar-mini.sidenav-toggled .slide-menu {
    border-bottom-right-radius: 4px;
    opacity: 0;
    position: absolute;
    transition: visibility 0.3s ease;
    visibility: hidden;
    z-index: 9;
  }
  .app.sidebar-mini.sidenav-toggled .side-menu__item {
    display: block;
  }
  .app.sidebar-mini.sidenav-toggled .side-menu_label {
    display: block;
    font-size: 12px;
  }
  .app.sidebar-mini.sidenav-toggled .side-menu__label {
    display: block;
    position: relative;
  }
  .sidebar-mini.sidenav-toggled .app-sidebar__user .avatar-md {
    margin: 0 auto;
  }
  .app.sidebar-mini.sidenav-toggled .nav-badge {
    font-size: 11px;
    padding: 0.2rem 0.4rem;
    position: absolute;
    right: 28px;
    top: 8px;
  }
  .sidebar-mini.sidenav-toggled.sidenav-toggled1 .app-sidebar {
    transition: left 0.3s ease, width 0.3s ease;
    width: 270px;
  }
  .sidebar-mini.sidenav-toggled.sidenav-toggled1 .app-sidebar .app-sidebar__user {
    align-items: center;
    color: #8e9cad;
    display: inline-block;
    padding: 25px 20px;
  }
  .sidebar-mini.sidenav-toggled.sidenav-toggled1 .app-sidebar .app-sidebar__user .dropdown-menu {
    top: 10px !important;
  }
  .sidebar-mini.sidenav-toggled.sidenav-toggled1 .app-sidebar .side-menu .sidemenu_icon {
    margin-right: 0.6rem;
  }
  .sidebar-mini.sidenav-toggled.sidenav-toggled1 .app-sidebar .side-item-category {
    display: block;
  }
  .sidebar-mini.sidenav-toggled.sidenav-toggled1 .app-sidebar .app-sidebar__user-avatar {
    display: inline-block;
    flex: 0 0 auto;
    margin-right: 15px;
  }
  .sidebar-mini.sidenav-toggled.sidenav-toggled1 .app-sidebar .app-sidebar__user-name {
    color: #e5e9ec;
    display: inline-block;
    font-size: 17px;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.3;
    margin-bottom: 0;
    margin-top: 5px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .sidebar-mini.sidenav-toggled.sidenav-toggled1 .app-sidebar .app-sidebar__user-name.text-sm {
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    height: auto;
    width: 100%;
  }
  .sidebar-mini.sidenav-toggled.sidenav-toggled1 .app-sidebar .side-menu__item {
    align-items: center;
    display: flex !important;
    display: -ms-flexbox;
    position: relative;
  }
  .sidebar-mini.sidenav-toggled.sidenav-toggled1 .app-sidebar .slide.is-expanded a {
    text-decoration: none;
  }
  .sidebar-mini.sidenav-toggled.sidenav-toggled1 .app-sidebar .side-menu .side-menu__icon {
    margin-right: 8px;
  }
  .sidebar-mini.sidenav-toggled.sidenav-toggled1 .app-sidebar .side-menu__icon {
    flex: 0 0 auto;
    width: 25px;
  }
  .sidebar-mini.sidenav-toggled.sidenav-toggled1 .app-sidebar .side-menu__label {
    display: inline-flex !important;
    display: inline-block;
    flex: 1 1 auto;
    min-width: inherit;
    position: unset;
    white-space: nowrap;
  }
  .sidebar-mini.sidenav-toggled.sidenav-toggled1 .app-sidebar .slide.is-expanded .slide-menu {
    display: block;
  }
  .sidebar-mini.sidenav-toggled.sidenav-toggled1 .app-sidebar .slide.is-expanded .angle {
    transform: rotate(90deg);
  }
  .sidebar-mini.sidenav-toggled.sidenav-toggled1 .app-sidebar .angle {
    display: inline-block;
  }
  .sidebar-mini.sidenav-toggled.sidenav-toggled1 .app-sidebar .slide-menu {
    display: none;
    min-width: 0;
    opacity: inherit;
    position: unset;
    top: inherit;
    visibility: inherit;
    width: 100%;
  }
  .sidebar-mini.sidenav-toggled.sidenav-toggled1 .app-sidebar .slide-item {
    align-items: center;
    display: flex;
  }
  .sidebar-mini.sidenav-toggled.sidenav-toggled1 .app-sidebar .slide-item .icon {
    margin-right: 5px;
  }
  .sidebar-mini.sidenav-toggled.sidenav-toggled1 .app-sidebar .angle {
    transform-origin: center;
    transition: transform 0.3s ease;
  }
  .sidebar-mini.sidenav-toggled.sidenav-toggled1 .app-sidebar .app-sidebar__user img {
    height: 5rem !important;
    width: 5rem !important;
  }
  .sidebar-mini.sidenav-toggled.sidenav-toggled1 .app-sidebar .green_icon {
    bottom: 10px;
    right: 80px;
  }
  .sidebar-mini.sidenav-toggled.sidenav-toggled1 .app-sidebar .app-user-rating,
  .sidebar-mini.sidenav-toggled.sidenav-toggled1 .app-sidebar .user-info {
    display: block !important;
  }
  .sidebar-mini.sidenav-toggled.sidenav-toggled1 .app-sidebar .user-pic {
    margin: 0 0 15px;
  }
  .app-sidebar__user-designation {
    color: #e5e9ec;
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 5px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .side-menu__item:focus,
  .side-menu__item:hover {
    color: #36f;
    text-decoration: none;
  }
  .side-menu__item:focus .side-menu__icon,
  .side-menu__item:hover .side-menu__icon,
  .sidebar-mini.sidenav-toggled.sidenav-toggled1 .app-sidebar .side-menu__item.active .side-menu__icon {
    color: #36f;
  }
  .side-menu__item:hover .angle,
  .side-menu__item:hover .side-menu__icon,
  .side-menu__item:hover .side-menu__label {
    color: #fff !important;
  }
  .slide-item:focus,
  .slide-item:hover {
    background: transparent;
    color: #36f;
    text-decoration: none;
  }
}
.app.sidebar-mini.sidenav-toggled.sidenav-toggled1 .app-sidebar .side-menu__icon {
  padding: 0 !important;
}
.app.sidebar-mini.sidenav-toggled .side-menu .side-menu__icon {
  border: 0 solid #e9ebfa;
  border-radius: 3px;
  font-size: 1.2rem;
  height: 2.5rem;
  margin-left: 0;
  position: relative;
  text-align: center;
}
.app.sidebar-mini .side-menu_label {
  display: none;
}
@media (min-width: 767px) {
  .app.sidebar-mini.sidenav-toggled .side-menu .side-menu__icon {
    margin-right: 0;
  }
}
.sidenav-toggled .app-sidebar__user .avatar-md {
  font-size: 1rem;
  line-height: 2rem;
}
.slide-menu a:before {
  content: "";
  font-family: typicons !important;
  font-size: 11px;
  margin-right: 10px;
  opacity: 0.6;
  position: relative;
}
.sidenav-toggled .main-wrapper .side-menu .side-menu__item .nav-badge {
  display: block !important;
  left: 57px;
  padding: 3px 5px !important;
  position: absolute;
  top: 5px;
}
.sidenav-toggled .main-wrapper .side-menu .side-menu__item .nav-badge1 {
  display: none;
}
.nav-badge {
  border-radius: 30px;
  font-size: 12px;
  padding: 0.4em 0.6em;
}
@media (max-width: 575.98px) {
  .app-header .header-brand-img.mobile-logo {
    margin-left: 0;
  }
  .app-sidebar__toggle a i {
    line-height: 1.5;
  }
  .app .app-sidebar {
    margin-top: 87px;
  }
  .app-content .side-app {
    padding: 25px 0.75rem 0;
  }
}
@media (max-width: 992px) and (min-width: 768px) {
  .app-header .header-brand,
  .app-header .header-brand-img.desktop-lgo {
    margin-left: 0;
  }
}
@media (min-width: 768px) {
  .footer {
    padding: 1.25rem;
  }
  footer.footer {
    padding: 1.25rem 1.25rem 1.25rem 270px;
  }
  .sidenav-toggled footer.footer {
    padding: 1.25rem 1.25rem 1.25rem 70px;
  }
}
@media (max-width: 768px) and (min-width: 481px) {
  .header-brand {
    margin-left: 0;
    min-width: auto !important;
  }
}
@media (max-width: 767px) {
  .app-sidebar__logo {
    display: none;
  }
  .app-sidebar__user .user-pic:before {
    display: block !important;
  }
}
@media (min-width: 768px) {
  .app-header .header-brand {
    display: none;
  }
  .app-header {
    padding-left: 270px;
  }
  .sidenav-toggled .app-header {
    padding-left: 70px;
  }
  .sidenav-toggled .app-sidebar__logo {
    width: 70px;
  }
}
.app-sidebar__logo {
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
  height: 87px;
  padding: 1.2rem 15px;
  position: fixed;
  text-align: center;
  transition: left 0.2s ease, width 0.2s ease;
  width: 270px;
}
.close-toggle {
  display: none;
}
.app-sidebar__toggle a i {
  font-size: 22px;
  line-height: 1.3;
  margin-top: 0;
}
.sidenav-toggled .close-toggle {
  display: block;
}
.sidenav-toggled .open-toggle {
  display: none;
}
@media (min-width: 768px) {
  .app-sidebar__logo .header-brand-img.darkmobile-logo,
  .app-sidebar__logo .header-brand-img.desktop-lgo,
  .app-sidebar__logo .header-brand-img.mobile-logo,
  .sidenav-toggled .header-brand-img.dark-logo {
    display: none;
  }
  .sidenav-toggled .header-brand-img.mobile-logo {
    display: block;
    margin-top: 5px;
  }
  .sidenav-toggled.sidenav-toggled1 .header-brand-img.mobile-logo {
    display: none;
  }
  .sidenav-toggled.sidenav-toggled1 .header-brand-img.dark-logo {
    display: block;
    margin: 5px auto 0;
  }
  .app-sidebar.app-sidebar3 {
    margin-top: 88px;
  }
  .app-sidebar.app-sidebar2 {
    box-shadow: none;
    height: 88px;
    z-index: 9999;
  }
  .sidenav-toggled .app-sidebar-help .help-dropdown {
    display: none;
  }
  .sidenav-toggled.sidenav-toggled1 .app-sidebar-help .help-dropdown {
    display: flex;
  }
  .sidenav-toggled .app-sidebar-help {
    padding: 8px 13px;
    width: 70px;
  }
  .sidenav-toggled.sidenav-toggled1 .app-sidebar-help {
    width: 270px;
  }
}
.app-sidebar .app-sidebar3 {
  margin-top: 88px;
  padding-bottom: 88px;
  overflow-y: scroll;
}
.app-sidebar-help {
  background: #f7f8fb;
  border-top: 1px solid #e9ebfa;
  bottom: 0;
  padding: 8px 13px;
  position: fixed;
  width: 270px;
  z-index: 11;
}
.app-sidebar-help .header-icon {
  fill: #8e98db;
  color: #36f;
  height: 30px;
  width: 30px;
}
.sub-slide-item {
  align-items: center;
  display: flex;
  list-style: none;
  padding: 11px 0 11px 55px !important;
  position: relative;
}
.sub-slide-menu {
  display: none;
  font-size: 13px !important;
  list-style: none;
  padding: 0;
}
.slide-menu .sub-slide.active.is-expanded {
  background: hsla(0, 0%, 100%, 0.09);
}
.sub-slide.is-expanded .sub-slide-menu {
  display: block;
}
.sub-side-menu__item {
  align-items: center;
  display: flex;
  padding: 8px 35px;
}
.sub-angle {
  float: right;
  line-height: 40px;
  margin-top: 3.5px;
  right: -15px;
  transform-origin: center;
  transition: transform 0.3s ease;
}
.sub-slide.is-expanded .sub-angle {
  transform: rotate(90deg);
}
.sub-slide .sub-side-menu__label {
  flex: 1 1 auto;
}
.sub-slide-item2 {
  align-items: center;
  display: flex;
  font-size: 12.5px;
  list-style: none;
  padding: 11px 0 11px 75px !important;
  position: relative;
}
.sub-slide-menu2 {
  display: none;
  font-size: 0.8rem !important;
  list-style: none;
  padding: 0;
}
.slide-menu .sub-slide2.active.is-expanded {
  background: hsla(0, 0%, 100%, 0.09);
}
.sub-slide2.is-expanded .sub-slide-menu2 {
  display: block;
}
.sub-side-menu__item2 {
  align-items: center;
  display: flex;
  padding: 10px 20px 10px 55px;
}
.sub-angle2 {
  float: right;
  line-height: 40px;
  margin-top: 3.5px;
  right: -15px;
  transform-origin: center;
  transition: transform 0.3s ease;
}
.sub-slide2.is-expanded .sub-angle2 {
  transform: rotate(90deg);
}
.sub-slide2 .sub-side-menu__label2 {
  flex: 1 1 auto;
  font-size: 13px;
}
.app-sidebar .dropdown-menu {
  background: #36f;
  border: 0;
  box-shadow: 0 10px 10px 20px rgba(16, 22, 58, 0.02), 10px 10px 15px -5px rgba(16, 22, 58, 0.08);
  color: #fff;
}
.app-sidebar .dropdown-menu .border-bottom {
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.1) !important;
}
.app-sidebar .dropdown-menu a {
  color: #fff;
}
.app-sidebar .dropdown-menu a.text-primary {
  color: hsla(0, 0%, 100%, 0.8) !important;
}
.slide .side-menu__item.active,
.slide .side-menu__item:hover {
  background: #36f;
  color: #fff !important;
}
.sidenav-toggled.sidenav-toggled1 .app-sidebar__logo {
  width: 270px;
}
.sidenav-toggled.sidenav-toggled1 .side-menu {
  padding: 10px;
}
.side-menu .slide a {
  background: none;
  color: #aab3cc;
}
.side-menu .sidemenu_icon {
  color: #aab3cc;
  font-size: 1.05rem;
  margin-right: 0.6rem;
}
.side-menu__item:hover .sidemenu_icon,
.slide a.active .sidemenu_icon {
  color: #fff;
}
@media (min-width: 768px) {
  .sidenav-toggled.sidenav-toggled1 .app-sidebar .nav-pills-circle,
  .sidenav-toggled.sidenav-toggled1 .emp_details {
    display: flex !important;
  }
  .sidenav-toggled.sidenav-toggled1 .Annoucement_card {
    display: block !important;
  }
}
