@media print {
  .dataTables_filter {
    display: none !important;
  }

  .dataTables_length {
    display: none !important;
  }

  .page-header {
    display: none !important;
  }
  .info {
    display: none !important;
  }
}
